<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>SignUp</title>
</head>
<body>

    <div class="nav_bar">
        <div class="logo" style="text-align: center;">Stonks</div>
        <form action="#" method="POST" class="login-form">
            <p><input placeholder="user name" type="text" name="user_name" class="center-align form-input"></p>
            <p><input placeholder="4 digit PIN" type="text" name="user_name" class="center-align form-input"></p>
            <p><input type="submit" value="SignUp" class="center-align form-button"></p>

            <p><a href="/" class="center-align form-button"> login</a></p>

        </form>
    </div>
    
</body>
</html>